<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
  <head>
    <title>Layout</title>
    <link rel="stylesheet"
      th:href="@{/css/bootstrap.min.css}"
      href="../../css/bootstrap.min.css"/>
      <script src="../../js/jquery-1.7.2.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <div class="navbar-inner">
          <a class="brand"
              href="/index">
              bHaptics DEMO
          </a>
          <ul class="nav">
            <li>
              <a th:href="@{/}" href="/index">
                Illusion
              </a>
            </li>
            <li>
            	<a th:href="@{/}" href="/emotion">
                Emotion
              </a>
            </li>
          </ul>
        </div>
      </div>
      <h1 layout:fragment="header">Layout</h1>
      <div layout:fragment="content">
        Fake content
      </div>
    </div>
  </body>
</html>