<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="layout">
  <head>
    <title>Messages : View</title>
  </head>
  <body>
    <h1 layout:fragment="header">Illusion DEMO</h1>
    <div layout:fragment="content"
        class="container">
	    <canvas id="myCanvas" width="500" height="500"  style="border:1px solid #000000;"></canvas>
    </div>
    
  </body>
</html>
<script type="text/javascript">
var canvas, ctx, flag = false,
prevX = 0,
currX = 0,
prevY = 0,
currY = 0,
dot_flag = false;

var x = "black", y = 2;

  function writeMessage(canvas, message) {
    var context = canvas.getContext('2d');
    context.clearRect(0, 0, canvas.width, canvas.height);
    context.font = '18pt Calibri';
    context.fillStyle = 'black';
    context.fillText(message, 10, 25);
  }
  function getMousePos(canvas, evt) {
    var rect = canvas.getBoundingClientRect();
    return {
      x: evt.clientX - rect.left,
      y: evt.clientY - rect.top
    };
  }
  
  function draw() {
	    /* ctx.beginPath(); */
	    ctx.moveTo(prevX, prevY);
	    ctx.lineTo(currX, currY);
	    ctx.strokeStyle = x;
	    ctx.lineWidth = y;
	    ctx.stroke();
	    /* ctx.closePath(); */
	}
  
  function findxy(res, e) {
	    if (res == 'down') {
	        prevX = currX;
	        prevY = currY;
	        currX = e.clientX - canvas.offsetLeft;
	        currY = e.clientY - canvas.offsetTop;

	        flag = true;
	        dot_flag = true;
	        if (dot_flag) {
	            ctx.beginPath();
	            ctx.fillStyle = x;
	            ctx.fillRect(currX, currY, 2, 2);
	            ctx.closePath();
	            dot_flag = false;
	        }
	    }
	    if (res == 'up' || res == "out") {
	        flag = false;
	    }
	    if (res == 'move') {
	        if (flag) {
	            prevX = currX;
	            prevY = currY;
	            currX = e.clientX - canvas.offsetLeft;
	            currY = e.clientY - canvas.offsetTop;
	            draw();
	        }
	    }
	}
  var canvas = document.getElementById('myCanvas');
  var ctx = canvas.getContext('2d');

  canvas.addEventListener('mousemove', function(e) {
    var mousePos = getMousePos(canvas, e);
    var message = 'Mouse position: ' + mousePos.x + ',' + mousePos.y;
    writeMessage(canvas, message);
      findxy('move', e)
  }, false);
  
  canvas.addEventListener("mousedown", function (e) {
      findxy('down', e)
  }, false);
  canvas.addEventListener("mouseup", function (e) {
      findxy('up', e)
  }, false);
  canvas.addEventListener("mouseout", function (e) {
      findxy('out', e)
  }, false);
</script>